/* frontend/src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* These default Tailwind v3 classes should now work */
  @apply bg-gray-100 dark:bg-gray-800 text-gray-900 dark:text-gray-200;
  min-height: 100vh;
}